h1.text-center {
  font-size: 500%;
  text-align: center;
}
body {
  position: relative;
  overflow-x: hidden;
  background: linear-gradient(to right, #18e9e9, #6bebfc, #00e1ff);
}

/* System login page */
.font11{
  font-size: 12px;
}
.login-container {
  width: 50%;
  min-width: 360px;
  margin: auto;
  padding: 20px;
  background:#000000; 
  border-radius: 10px; 
  display: flex;
  align-items: center;
}
.form-control.username-field {
  flex: 1;
  padding: 10px 10px;
  height: auto;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to right, #ffffff, #ffffff,#ffffff,#ffffff, #0a3035);
  color: #000000;
  margin-right: 10px;
  box-sizing: border-box;
}
.login-button {
  padding: 10px 20px;
  border: none;
  height: auto;
  border-radius: 25px;
  background: #ffffff;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
  white-space: nowrap; 
  font-size: 12px;
}
.login-button:hover {
  background:  #18e9e9
}
.login-button:hover {
  background: #000000;
  color: #ffffff; 
}
.form-control::placeholder {
  color: #000000;
  font-size: 12px; 
}

.form-control.username-field {
  font-size: 12px; 
}

.errorMessage{
  padding-top: 10px;
  color: red;
  font-size: 15px;
}
